<!-- Row Starts -->
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="widget widget-danger widget-stack">
            <div class="widget-header">
                <h5>Products <i class="fa fa-caret-up text-success"> + 3%</i></h5>
            </div>
            <div class="widget-body center-align-text">
                <h1 class="no-margin"><i class="fa fa-cubes text-danger"></i></h1>
                <h2 class="no-margin">4567</h2>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="widget widget-info widget-stack">
            <div class="widget-header">
                <h5>Orders <i class="fa fa-caret-up text-success"> + 8%</i></h5>
            </div>
            <div class="widget-body center-align-text">
                <h1 class="no-margin"><i class="fa fa-shopping-cart text-info"></i></h1>
                <h2 class="no-margin">567</h2>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="widget widget-success widget-stack">
            <div class="widget-header">
                <h5>Visits <i class="fa fa-caret-down text-warning"> - 5%</i></h5>
            </div>
            <div class="widget-body center-align-text">
                <h1 class="no-margin"><i class="fa fa-eye text-success"></i></h1>
                <h2 class="no-margin">52531</h2>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="widget widget-warning widget-stack">
            <div class="widget-header">
                <h5>Income <i class="fa fa-caret-up text-success"> + 12%</i></h5>
            </div>
            <div class="widget-body center-align-text">
                <h1 class="no-margin"><i class="fa fa-money text-warning"></i></h1>
                <h2 class="no-margin">$4569</h2>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="widget widget-yellow widget-stack">
            <div class="widget-header">
                <h5>Comments <i class="fa fa-caret-down text-danger"> - 21%</i></h5>
            </div>
            <div class="widget-body center-align-text">
                <h1 class="no-margin"><i class="fa fa-comments-o text-yellow"></i></h1>
                <h2 class="no-margin">339</h2>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="widget widget-stack">
            <div class="widget-header">
                <h5>Tasks <i class="fa fa-caret-up text-success"> + 8%</i></h5>
            </div>
            <div class="widget-body center-align-text">
                <h1 class="no-margin"><i class="fa fa-tasks text-grey"></i></h1>
                <h2 class="no-margin">1292</h2>
            </div>
        </div>
    </div>
</div>
<!-- Row Ends -->

<!-- Row Starts -->
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget widget-info widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-calendar"></i> Monthly Statistics</h4>
            </div>
            <div class="widget-body">
                <div id="line-chart" class="chart-height"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget widget-success widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-envelope-o"></i> Emails</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div id="vertical-chart" class="chart-height"></div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="email-list">
                            <div class="list">
                                <h1 class="text-danger">548<span><i class="fa fa-paper-plane-o"></i>Sent</span></h1>
                            </div>
                            <div class="list no-border">
                                <h1 class="text-primary">625<span><i class="fa fa-envelope-o"></i>Receved</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row Ends -->

<!-- Row Starts -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget widget-yellow widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-cloud"></i> Weather Today</h4>
            </div>
            <div class="widget-body">
                <div class="weather-widget">
                    <div class="row">
                        <div class="col-xs-6 right-align-text">
                            <i class="wi wi-night-sleet-storm fa-5x text-yellow"></i>
                        </div>
                        <div class="col-xs-6">
                            <h1 class="bolded degrees white-text">28<i class="wi wi-degrees"></i></h1>
                            <p class="white-text">San francisco city</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-footer">
                <ul class="clearfix">
                    <li>
                        <p>Mumbai</p>
                        <h4 class="bolded degrees text-danger">31<i class="wi wi-degrees"></i></h4>
                    </li>
                    <li>
                        <p>Berlin</p>
                        <h4 class="bolded degrees text-yellow">24<i class="wi wi-degrees"></i></h4>
                    </li>
                    <li>
                        <p>Miami</p>
                        <h4 class="bolded degrees text-info">21<i class="wi wi-degrees"></i></h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget widget-info widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-download"></i>Downloads</h4>
            </div>
            <div class="widget-body">
                <div id="gg1" class="gauge chart-height"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="widget widget-warning widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-foursquare"></i>Social Statistics</h4>
            </div>
            <div class="widget-body">
                <div class="social-stats">
                    <!-- Row Starts -->
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="social-icon bg-fb">
                                <i class="fa fa-facebook fa-2x"></i>
                            </div>
                            <div class="stats-details">
                                <h3>8985</h3>
                                <h6 class="text-success">+ 21%</h6>
                                <h5>Likes</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="social-icon bg-twitter">
                                <i class="fa fa-twitter fa-2x"></i>
                            </div>
                            <div class="stats-details">
                                <h3>4927</h3>
                                <h6 class="text-success">+ 15%</h6>
                                <h5>Tweets</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="social-icon bg-linkedin">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </div>
                            <div class="stats-details">
                                <h3>764</h3>
                                <h6 class="text-success">+ 11%</h6>
                                <h5>Connections</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="social-icon bg-gplus">
                                <i class="fa fa-google-plus fa-2x"></i>
                            </div>
                            <div class="stats-details">
                                <h3>1278</h3>
                                <h6 class="text-warning">- 8%</h6>
                                <h5>Shares</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Row Ends -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row Ends -->

<!-- Row Starts -->
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="widget widget-yellow widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-check-square-o"></i> Todo's</h4>
            </div>
            <div class="widget-body">
                <section class="todo">
                    <fieldset class="todo-list">
                        <label class="todo-list-item info">
                            <input type="checkbox" class="todo-list-cb">
                            <span class="todo-list-mark"></span>
                            <span class="todo-list-desc">Attend research <i>seminar</i></span>
                            <span class="label label-info pull-right">info</span>
                        </label>
                        <label class="todo-list-item warning">
                            <input type="checkbox" class="todo-list-cb">
                            <span class="todo-list-mark"></span>
                            <span class="todo-list-desc">Social media <i>workshop</i></span>
                            <span class="label label-warning pull-right">info</span>
                        </label>
                        <label class="todo-list-item success">
                            <input type="checkbox" class="todo-list-cb" checked>
                            <span class="todo-list-mark"></span>
                            <span class="todo-list-desc">Pickup <i>kids</i> @4pm</span>
                            <span class="label label-success pull-right">done</span>
                        </label>
                        <label class="todo-list-item danger">
                            <input type="checkbox" class="todo-list-cb">
                            <span class="todo-list-mark"></span>
                            <span class="todo-list-desc">Attend <i>Birthday</i> party</span>
                            <span class="label label-danger pull-right">imp</span>
                        </label>
                        <label class="todo-list-item success">
                            <input type="checkbox" class="todo-list-cb" checked>
                            <span class="todo-list-mark"></span>
                            <span class="todo-list-desc">The <i>Power</i> of Habit</span>
                            <span class="label label-success pull-right">done</span>
                        </label>
                        <label class="todo-list-item info">
                            <input type="checkbox" class="todo-list-cb">
                            <span class="todo-list-mark"></span>
                            <span class="todo-list-desc">Send an <i>email</i> to Jas</span>
                            <span class="label label-info pull-right">info</span>
                        </label>
                    </fieldset>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="widget widget-success widget-stack">
            <div class="widget-header">
                <h4><i class="fa fa-comments-o"></i> Conversation</h4>
            </div>
            <div class="widget-body">
                <ul class="chats">
                    <li class="in">
                        <img class="avatar" alt="" src="img/user3.jpg">
                        <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name">Rocky</a>
											<span class="date-time">
												<i class="fa fa-clock-o"></i>May 12th, 2014 10:36 <label class="label label-success">done</label>
											</span>
											<span class="body">
												Convergence target enable syndicate <span>grow</span> end-to-end life-hacks, integrate engage <span>podcasting</span>."
											</span>
                        </div>
                    </li>
                    <li class="out">
                        <img class="avatar" alt="" src="img/user4.jpg">
                        <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name">
                                Willams
                            </a>
											<span class="date-time">
												<i class="fa fa-clock-o"></i>May 17th, 2014 02:17 <label class="label label-info">info</label>
											</span>
											<span class="body">
												Transition, <span>widgets</span> users remix dynamic 24/365 holistic network effects <span>communities</span>, users, leading-edge e-services social."
											</span>
                        </div>
                    </li>
                    <li class="in">
                        <img class="avatar" alt="" src="img/user2.jpg">
                        <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name">
                                Bobby
                            </a>
											<span class="date-time">
												<i class="fa fa-clock-o"></i>May 21st, 2014 18:55 <label class="label label-danger">imp</label>
											</span>
											<span class="body">
												Need some <span>interesting looking</span> for your work in progress? You came to the right place.
											</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Row Ends -->