<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="widget widget-info">
            <div class="widget-header">
                <h4><i class="fa fa-file-text-o"></i>执行日志列表</h4>
            </div>
            <div class="widget-body">
                <form id="htmlForm" method="get" class="form-horizontal" action="" data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="fa fa-check" data-bv-feedbackicons-invalid="fa fa-times"
                      data-bv-feedbackicons-validating="fa fa-refresh">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">用户:</label>
                        <div class="col-lg-2">
                            <select class="form-control" name="uid">
                                <option value="all">请选择</option>
                                <!--{if $user_list}-->
                                <!--{foreach from=$user_list key=key item=v}-->
                                <option value="<!--{$key}-->" <!--{if isset($smarty.get.uid) && $key ==$smarty.get.uid}--> selected="selected"
                                <!--{/if}-->><!--{$v.real_name}--></option>
                                <!--{/foreach}-->
                                <!--{/if}-->
                            </select>
                        </div>
                        <label class="col-lg-1 control-label">操作类型:</label>
                        <div class="col-lg-2">
                            <select class="form-control" name="op">
                                <option value="all" selected="selected">请选择</option>
                                <!--{if isset($op_list)}-->
                                <!--{foreach from=$op_list key=key item=v}-->
                                <option value="<!--{$v}-->" id="<!--{$smarty.get.op}-->" <!--{if  isset($smarty.get.op) && $v ==$smarty.get.op}-->
                                selected="selected "
                                <!--{/if}-->><!--{$v}--></option>
                                <!--{/foreach}-->
                                <!--{/if}-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1 col-lg-offset-1">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered no-margin">
                        <thead>
                        <tr>
                            <th class="col-lg-1">id</th>
                            <th class="col-lg-1">用户id</th>
                            <th class="col-lg-6">执行内容</th>
                            <th class="col-lg-1">执行结果</th>
                            <th class="col-lg-1">时间</th>
                            <th class="col-lg-1">操作类型</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--{foreach from=$log_list item=log_list_info}-->
                        <!--{if $total++>0}-->
                        <!--{if $total%2 == 0}-->
                        <!--{$color = info}-->
                        <!--{elseif $total%2 == 1}-->
                        <!--{$color = warning}-->
                        <!--{/if}-->
                        <!--{/if}-->
                        <tr class="<!--{$color}-->">
                            <td><!--{$log_list_info.id}--></td>
                            <td><!--{$log_list_info.uid}--></td>
                            <td><!--{$log_list_info.content}--></td>

                            <td>
                                <!--{if $log_list_info.result=="1"}-->成功<!--{else}-->失败<!--{/if}-->
                            </td>

                            <td><!--{$log_list_info.time|date_format:"%Y-%m-%d %H:%M:%S"}--></td>
                            <td><!--{$log_list_info.operate|strtoupper}--></td>
                        </tr>
                        <!--{/foreach}-->

                        </tbody>
                    </table>
                    <!--{$page_html}-->
                </div>
            </div>
        </div>
    </div>

