<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="widget widget-info">
            <div class="widget-header">
                <h4><i class="fa fa-file-text-o"></i> <!--{$title}--></h4>
            </div>
            <div class="widget-body">
                <form id="awardForm" method="post" class="form-horizontal" action="/app/award/update.html" onsubmit="return check()">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">活动名称 <span style="color: red;">*</span></label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" name="name" id="name" data-bv-trigger="blur" value="<!--{$awardInfo.name}-->" required>
                        </div>
                    </div>

                    <!--{if $awardInfo.images}-->
                    <!--{foreach from=$awardInfo.images key=key item=v}-->
                    <div class="form-group">
                        <label class="col-lg-4 control-label">文案图片 <span style="color: red;">*</span></label>
                        <div class="col-lg-7 image-group">
                            <button class="btn btn-gplus btn-borderd" data-target="#show_pictures" onclick="show_album(1,this.id,1)" data-toggle="modal" type="button" id="btn_upload<!--{substr($key,-1,1)}-->">图片上传</button>
                            <input type="hidden" name="image[]" class="upload_file" value="<!--{$v}-->" class="upload_file">
                            <div class="yulan"><img src="<!--{$v}-->" class="show_pic"></div>
                        </div>
                    </div>
                    <!--{/foreach}-->
                    <!--{/if}-->

                    <div class="form-group">
                        <label class="col-lg-4 control-label">关联项目id <span style="color: red;">*</span></label>
                        <div class="col-lg-5">
                            <input class="form-control" name="project_id" required value="<!--{$awardInfo.project_id}-->" id="project_id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">关联活动id <span style="color: red;">*</span></label>
                        <div class="col-lg-5">
                            <input class="form-control" name="activity_id" required value="<!--{$awardInfo.activity_id}-->" id="activity_id">
                            <span class="fa fa-check form-control-feedback"></span>
                            <span class="fa fa-times form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">任务规则 <span style="color: red;">*</span></label>
                        <div class="col-lg-7">
                            <textarea class="form-control" rows="3" name="rule_text" id="rule_text"><!--{$awardInfo.rule_text}--></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-7 col-lg-offset-4">
                            <input type="hidden" name="id" value="<!--{$id}-->">
                            <button type="submit" class="btn btn-warning">提交</button>
                            <button type="reset" class="btn btn btn-default" style="margin-left: 50px;">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
   .col-lg-4{
       width:18.3333%;
   }

</style>
<script src="/js/jquery.js"></script>
<script src="/js/jscolor.js"></script>
<link rel="stylesheet" href="/css/album.css">
<script src="/js/album.js"></script>

<script type="text/javascript">
    $(function(){
        $(".fa-check").hide();
        $(".fa-times").hide();
        $('#activity_id').blur(function(){
            var project_id = $("#project_id").val();
            var activity_id = $("#activity_id").val();

            if(project_id == '' || activity_id == '')
            {
                alert("请填写项目id和关联活动id");
                return false;
            }

            $.ajax({
                type:'post',
                url:"/app/award/checkactivity.json",
                data: "project_id="+project_id+"&activity_id="+activity_id+"&type=info",
                dataType:'json',
                success:function(data){
                    if(data.error == '0')
                    {
                        $("#activity_id").parents('.form-group').addClass('has-success has-feedback');
                        $(".fa-check").show();
                        $(".fa-times").hide();
                        $("#project_id").parents('.form-group').addClass('has-success has-feedback');
                        $(".projects").show();
                        $(".projectb").hide();
                    }
                    else
                    {
                        $("#activity_id").parents('.form-group').addClass('has-error has-feedback');
                        $(".fa-check").hide();
                        $(".fa-times").show();
                        $("#project_id").parents('.form-group').addClass('has-error has-feedback');
                        $(".projects").hide();
                        $(".projectb").show();
                    }
                }
            })
        });
        $('.add_composer').bind('click',function(){
            if($('.image-group').length >= 6)
            {
                alert("最多只能上传6张图片");
                return false;
            }

            var len = $('.image-group').length;
            var dom = $(this).parents('.form-group').clone();
            var id= $(this).parents('.image-group').find('button').attr('id');
            var newid = 'btn_upload'+(len + 1);
            dom.find('button').attr('id',newid);
            dom.find('a').replaceWith('');
            dom.find('.col-lg-7').addClass('image-group');
            dom.find('.col-lg-7').find('input:hidden').val('');
            dom.find('.col-lg-7').find('.yulan').html('');
            $('#awardForm').find('.image-group:last').parents('.form-group').after(dom);
        })

        $('.remove_composer').bind('click',function(){
            $('.image-group:last').parents('.form-group').replaceWith('');
        })

    })

    function check()
    {
        var image = $('#upload_file').val();
        var rule_text = $('#rule_text').val();
        if(image == '')
        {
            alert('请选择文案背景图');
            return false;
        }

        if(rule_text == '')
        {
            alert('请填写任务规则');
            return false;
        }
    }
</script>