<!-- Row Starts -->
<div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12" style="width: 1130px;">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget widget-info">
                    <div class="widget-header">
                        <h4><i class="fa fa-file-text-o"></i>添加组件 </h4>
                    </div>
                    <div class="widget-body" style="margin:30px 0px">
                        <form id="composerForm" method="post" class="form-horizontal" action="/manager/composer/add.html">
                            <div class="form-group">
                                <label class="col-lg-4 control-label" >组件名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="en_name" name="en_name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">中文名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="cn_name" name="cn_name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">显示(是否)</label>
                                <div class="col-lg-5">
                                    <div class="col-lg-5 col-lg-offset-2">
                                       是&nbsp;&nbsp;<input name="is_show" value="Y" type="radio" checked="">
                                    </div>
                                     <div class="col-lg-2 ">
                                       否&nbsp;&nbsp;<input name="is_show" value="N" type="radio">
                                     </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">排序ID</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" placeholder="NUMBER 0-9" id="orderid" name="orderid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-1 col col-lg-offset-5">
                                    <button type="submit" class="btn btn-warning">添加</button>
                                </div>
                                <div class="col-lg-5 ">
                                   <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row Ends -->
    </div>
</div>
<!-- Row Ends -->

<!-- validate -->
<script src="/js/jquery.js"></script>
<!-- Custom JS -->
<script src="/js/custom.js"></script>
<script src="/js/custom-forms.js"></script>
<!-- validate end-->