<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="widget widget-info">
            <div class="widget-header">
                <h4><i class="fa fa-file-text-o"></i> <!--{$title}--></h4>
            </div>
            <div class="widget-body">
                <form id="htmlForm" method="post" class="form-horizontal" action="/app/award/index.html" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="fa fa-check" data-bv-feedbackicons-invalid="fa fa-times" data-bv-feedbackicons-validating="fa fa-refresh">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">ID:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="id" value='<!--{$id}-->' placeholder="请输入ID"/>
                        </div>
                        <label class="col-lg-1 control-label">活动名称:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="name" value='<!--{$name}-->' placeholder="请输入活动名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">关联ID:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="activity_id" value='<!--{$activity_id}-->' placeholder="请输入关联活动id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1 col-lg-offset-1">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered no-margin">
                        <thead>
                        <tr>
                            <th class="col-lg-1">ID</th>
                            <th class="col-lg-2">活动名称</th>
                            <!--<th class="col-lg-1">活动规则</th>-->
                            <th class="col-lg-2">关联活动</th>
                            <th class="col-lg-1">状态</th>
                            <th class="col-lg-2">修改时间</th>
                            <th class="col-lg-1">最后操作人</th>
                            <th class="col-lg-4">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--{if $awardList}-->
                        <!--{foreach from=$awardList key=key item=v}-->
                        <tr class="<!--{if $key % 2 == 0}-->info<!--{else}-->warning<!--{/if}-->">
                            <td><!--{$v.id}--></td>
                            <td><!--{$v.name}--></td>
                            <!--<td>&lt;!&ndash;{$v.rule_text}&ndash;&gt;</td>-->
                            <td><!--{$v.project_id}--> - <!--{$v.activity_id}--></td>
                            <td><!--{if $v.status == 0}-->进行中<!--{else}-->未开始<!--{/if}--></td>
                            <td><!--{$v.updatetime}--></td>
                            <td><!--{$v.operator}--></td>
                            <td width="380px">
                                <a href="/app/award/update.html?id=<!--{$v.id}-->"><button type="submit" class="btn btn-info btn-rounded no-margin" style=" padding: 2px 10px; font-size:x-small">编辑</button></a>&nbsp;
                                |&nbsp;&nbsp;<a href="/app/award/prize.html?id=<!--{$v.id}-->"><button type="submit" class="btn btn-notice btn-rounded no-margin" style="padding: 2px 10px; font-size:x-small">配置</button></a>&nbsp;
                                <!--{if $v.status == 1}-->
                                |&nbsp;&nbsp;<a href="/app/award/changestatus.html?id=<!--{$v.id}-->&status=0"><button type="submit" class="btn btn-warning btn-rounded no-margin" style="padding: 2px 10px; font-size:x-small">启用</button></a>&nbsp;
                                <!--{else}-->
                                |&nbsp;&nbsp;<a href="/app/award/changestatus.html?id=<!--{$v.id}-->&status=1"><button type="submit" class="btn btn-warning btn-rounded no-margin" style="padding: 2px 10px; font-size:x-small">停用</button></a>&nbsp;
                                <!--{/if}-->
                                |&nbsp;<a href="javascript:void(0)" onclick="if(confirm('确认删除该活动吗？')){location.href='/app/award/del.html?id=<!--{$v.id}-->'}">
                                <button type="submit" class="btn btn-danger btn-rounded no-margin" style=" padding: 2px 10px; font-size:x-small">删除</button></a>&nbsp;
                            </td>
                        </tr>
                        <!--{/foreach}-->
                        <!--{/if}-->
                        </tbody>
                    </table>
                    <!--{$page_html}-->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table{
        text-align: center;
    }
    table th {
        text-align: center;
    }
    table td{
        vertical-align: middle;
    }
</style>
