<!-- 时间插件 js载入 JS -->
<script src="/js/datepicker/WdatePicker.js"></script>
<link href="/css/ui.datepicker.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="widget widget-info">
            <div class="widget-header">
                <h4><i class="fa fa-file-text-o"></i>用户任务记录</h4>
            </div>
            <div class="widget-body">
                <form id="htmlForm" method="get" class="form-horizontal" action="/App/Task/record.html" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="fa fa-check" data-bv-feedbackicons-invalid="fa fa-times"
                      data-bv-feedbackicons-validating="fa fa-refresh">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">手机号:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="mobile" value='<!--{$mobile}-->' placeholder="请输入手机号码"/>
                        </div>
                        <label class="col-lg-1 control-label">活动id:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="task_id" value='<!--{$task_id}-->' placeholder="请输入活动id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">开始时间:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="starttime" value='<!--{$starttime}-->' onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                        </div>
                        <label class="col-lg-1 control-label">结束时间:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="endtime" value='<!--{$endtime}-->' onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1 col-lg-offset-1">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>

                </form>

                <div class="table-responsive">
                    <table class="table table-bordered no-margin" style="text-align: center;">
                        <thead>
                        <tr>
                            <th class="col-lg-1" style="text-align: center;">id</th>
                            <th class="col-lg-2" style="text-align: center;">手机号码</th>
                            <th class="col-lg-2" style="text-align: center;">任务id</th>
                            <th class="col-lg-3" style="text-align: center;">完成时间</th>
                            <th class="col-lg-2" style="text-align: center;">奖励领取状态</th>
                            <th class="col-lg-1" style="text-align: center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--{if $list}-->
                        <!--{foreach from=$list key=key item=v}-->
                        <tr class="<!--{if $key % 2 == 0}-->info<!--{else}-->warning<!--{/if}-->">
                            <td><!--{$v.id}--></td>
                            <td><!--{$v.mobile}--></td>
                            <td><!--{$v.task_id}--></td>
                            <td><!--{$v.finish_time}--></td>
                            <td><!--{if $v.status == 1}-->未领取<!--{else}-->已领取<!--{/if}--></td>
                            <td width="380px">
                                &nbsp;<a href="javascript:void(0)" onclick="if(confirm('确认删除该条记录吗？')){location.href='/app/task/delrecord.html?id=<!--{$v.id}-->'}">
                                <button type="submit" class="btn btn-danger btn-rounded no-margin" style=" padding: 2px 14px; font-size:x-small">删除</button></a>&nbsp;
                            </td>
                        </tr>
                        <!--{/foreach}-->
                        <!--{/if}-->

                        </tbody>
                    </table>
                    <!--{$pager_html}-->
                </div>
            </div>
        </div>
    </div>
</div>

